* {
  padding: 0;
  margin: 0;
}
::selection {
  color: #f6f2f1;
  background: #433833;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1017%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(246%2c 242%2c 241%2c 1)'%3e%3c/rect%3e%3cpath d='M-175.04 308.73 a339.72 339.72 0 1 0 679.44 0 a339.72 339.72 0 1 0 -679.44 0z' fill='rgba(67%2c 56%2c 51%2c 0.08235294117647059)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1070.3 897.99 a281.48 281.48 0 1 0 562.96 0 a281.48 281.48 0 1 0 -562.96 0z' fill='rgba(67%2c 56%2c 51%2c 0.08235294117647059)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1551.54 984.56 a330.09 330.09 0 1 0 660.18 0 a330.09 330.09 0 1 0 -660.18 0z' fill='rgba(67%2c 56%2c 51%2c 0.08235294117647059)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1600.94 561.95 a306.14 306.14 0 1 0 612.28 0 a306.14 306.14 0 1 0 -612.28 0z' fill='rgba(67%2c 56%2c 51%2c 0.08235294117647059)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M601.1 832.94 a211.66 211.66 0 1 0 423.32 0 a211.66 211.66 0 1 0 -423.32 0z' fill='rgba(67%2c 56%2c 51%2c 0.08235294117647059)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M169 171.27 a234.44 234.44 0 1 0 468.88 0 a234.44 234.44 0 1 0 -468.88 0z' fill='rgba(67%2c 56%2c 51%2c 0.08235294117647059)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M396.26 767.85 a333.8 333.8 0 1 0 667.6 0 a333.8 333.8 0 1 0 -667.6 0z' fill='rgba(67%2c 56%2c 51%2c 0.08235294117647059)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M706.26 250.45 a333.3 333.3 0 1 0 666.6 0 a333.3 333.3 0 1 0 -666.6 0z' fill='rgba(67%2c 56%2c 51%2c 0.08235294117647059)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1017'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  display: block;
  width: 100%;
  height: 100vh;
}
.poster {
  padding: 100px;
  display: block;
  text-align: center;
}
.heading {
  font-family: "league spartan";
  font-weight: bold;
  color: #433833;
  font-size: 100px;
  text-align: center;
  margin: 100px 0px;
  background-image: url(./asset/bg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.petik {
  width: 100px;
  transition: all 0.5s ease;
}
.petik1 {
  text-align: left;
  margin-left: 33%;
  animation: quote1 4s ease-in-out infinite;
}
.petik2 {
  text-align: right;
  margin-right: 33%;
  animation: quote2 4s ease-in-out infinite;
}
.sub-heading {
  font-family: roboto;
  font-weight: bold;
  color: #433833;
  font-size: 25px;
}
.button {
  font-family: "league spartan";
  position: fixed;
  top: 0;
  display: block;
}
.btn {
  width: 75px;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
  margin-top: 10px;
  color: white;
  background: #0f6dbc;
  transition: all 0.5s ease;
}
.btn:hover {
  color: #0f6dbc;
  background: white;
  width: 90px;
  cursor: pointer;
}
blockquote {
  animation: text 2s ease-in-out;
}

/* animation */

@keyframes text {
  0% {
    color: #00000000;
  }
}
@keyframes quote1 {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes quote2 {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
