* {
  padding: 0;
  margin: 0;
}
::selection {
  color: #f6f2f1;
  background: #433833;
}

body {
  background-color: #f6f2f1;
  display: block;
  width: 100%;
  height: 100vh;
}
.poster {
  padding: 100px;
  display: block;
  text-align: center;
}
.heading {
  font-family: "league spartan";
  font-weight: bold;
  color: #433833;
  font-size: 100px;
  text-align: center;
  margin: 100px 0px;
  background-image: url(./asset/bg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.petik {
  width: 100px;
  transition: all 0.5s ease;
}
.petik1 {
  text-align: left;
  margin-left: 33%;
  animation: quote1 4s ease-in-out infinite;
}
.petik2 {
  text-align: right;
  margin-right: 33%;
  animation: quote2 4s ease-in-out infinite;
}
.sub-heading {
  font-family: roboto;
  font-weight: bold;
  color: #433833;
  font-size: 25px;
}
.button {
  font-family: "league spartan";
  position: fixed;
  top: 0;
  display: block;
}
.btn {
  width: 75px;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
  margin-top: 10px;
  color: white;
  background: #0f6dbc;
  transition: all 0.5s ease;
}
.btn:hover {
  color: #0f6dbc;
  background: white;
  width: 90px;
  cursor: pointer;
}
blockquote {
  animation: text 2s ease-in-out;
}

/* animation */

@keyframes text {
  0% {color: #00000000;}
}
@keyframes quote1 {
    0% {transform: translateX(10px);}
    50% {transform: translateX(-10px);}
    100% {transform: translateX(10px);}
}
@keyframes quote2 {
    0% {transform: translateY(10px);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(10px);}
}
