* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--roboto);
    scroll-behavior: smooth;
    /* border: 1px solid black; */
}
:root {
    --purple: #5E3BEE;
    --black: #282938;
    --bg-shade: #F5FCFF;
    --roboto: roboto;
    --white: #ffffff;
    --transition: all 0.5s ease;
}
::selection {
    background-color: var(--purple);
    color: var(--black);
}